<!DOCTYPE html>
<html>
<head>
    <title>Test auth page</title>
</head>
<body>
<h1>Test auth page</h1>

<div id="createUserResponse">
    <h2>Create User Response:</h2>
    <pre></pre>
</div>

<div id="loginResponse">
    <h2>Login Response:</h2>
    <pre></pre>
</div>

<div>
    <h2>Create User:</h2>
    <label for="createUserUsername">Username:</label>
    <input type="text" id="createUserUsername"><br>

    <label for="createUserEmail">Email:</label>
    <input type="text" id="createUserEmail"><br>

    <label for="createUserPassword">Password:</label>
    <input type="password" id="createUserPassword"><br>

    <button id="createUserButton">Create User</button>
</div>

<div>
    <h2>Login:</h2>
    <label for="loginUsername">Username:</label>
    <input type="text" id="loginUsername"><br>

    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword"><br>

    <button id="loginButton">Login</button>
</div>

<div id="factor" class="hidden">
    <h2>Two-Factor Authentication:</h2>
    <label for="loginUsername">Code From Mail:</label>
    <input type="text" id="loginTwoFactor"><br>
    <button id="factorButton">Submit</button>
</div>

<script>
    let token = ""

    async function sendPostRequest(url, data) {
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                show_factor();
                const responseBody = await response.text();
                return responseBody;
            } else {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
        } catch (error) {
            return error.message;
        }
    }

    function sendPostVerification(code) {
        console.log("123213213")
        console.log(getCookie('account_token'))
        console.log(getCookie('csrftoken'))
        if (getCookie('csrftoken')) {
            console.log("ENTER")
            const csrToken = getCookie('csrftoken')
            const token = getCookie('account_token')
            const headers = new Headers({
                "Content-Type": "application/json",
                'X-CSRFToken': csrToken,
                "Authorization": `Token ${token}` // Replace 'Token' with 'Bearer' if you're using TokenAuthentication
            });
            const requestData = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({code : code}),
            };

            fetch('verify',requestData)
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    throw new Error('Network response was not OK');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    document.getElementById('createUserButton').addEventListener('click', async () => {
        const createUserUsername = document.getElementById('createUserUsername').value;
        const createUserEmail = document.getElementById('createUserEmail').value;
        const createUserPassword = document.getElementById('createUserPassword').value;

        const createUserData = {
            username: createUserUsername,
            email: createUserEmail,
            password: createUserPassword,
        };

        const createUserResponse = await sendPostRequest('auth/createUser/', createUserData);
        document.getElementById('createUserResponse').querySelector('pre').textContent = createUserResponse;
    });

    document.getElementById('loginButton').addEventListener('click', async () => {
        const loginUsername = document.getElementById('loginUsername').value;
        const loginPassword = document.getElementById('loginPassword').value;

        const loginData = {
            username: loginUsername,
            password: loginPassword,
        };
        const loginResponse = await sendPostRequest('auth/login/', loginData);
        document.getElementById('loginResponse').querySelector('pre').textContent = loginResponse;
    });

      document.getElementById('factorButton').addEventListener('click', async () => {
        const code = document.getElementById('loginTwoFactor').value;
        sendPostVerification(code);
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function show_factor() {
        const loadingScreen = document.getElementById("factor");
        loadingScreen.classList.remove('hidden');
    }

</script>

<style>
    .hidden {
        display: none;
    }
</style>
</body>
</html>
