<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoenix Fire Alarm</title>
</head>
<body>
<p>Hello world</p>
<button style="background-color: red;" onclick="send_email()"></button>
</body>
</html>
<script>
    function send_email(){
         if (getCookie('csrftoken')) {
            const token = getCookie('csrftoken');
         const requestData = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token,
                },
                body: JSON.stringify({email : "volod.nl.lys@gmail.com"}),
            };
        fetch('verification',requestData)
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    throw new Error('Network response was not OK');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    }
     function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>